@media only screen and (max-width: 600px) {
    /* body {
        background: linear-gradient(45deg, red,blue);

    }
    .project-container {
        display: inline-block;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

p {
    padding: 0;
    margin: 0;

} */

  }