* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(45deg, rgb(252, 119, 119), rgb(94, 94, 252));
    background-repeat: no-repeat;
    height: 100vh;
}

h1,h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

h2 span {
    color: rgb(123, 255, 0);
}

.project-container {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

p {
    text-align: justify;
}

.project {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 20px;
    width: 25%;
    padding: 20px;
    border-radius: 20px;
}